@import "../../styles/variables.scss";

.project-item {
  .title-project {
    font-size: 1rem;
    cursor: pointer;
    font-family: $font-descriptions;
    letter-spacing: 0.5px;
    color: $color-text;
  }

  .title-project:hover {
    color: $color-title;
  }
}
