@import "../../styles/variables.scss";

.project-item {
  .title-project {
    font-size: 1.1rem;
    cursor: pointer;
    color: $color-text;
  }

  .title-project:hover {
    color: $color-title-datails;
  }
}
