@import "../variables.scss";

.timeline {
  position: relative;
  padding-left: 32px; /* Espaço para a linha e os círculos */
  border-left: 1px solid $color-text; /* Linha vertical */
}

.experience {
  position: relative;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $color-text;
  position: absolute;
  left: -38px; /* Alinhamento com a linha */
  top: 8px;
}

.details h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

.details p {
  font-size: 1rem;
  color: $color-gray-strong;
}
