@import "../variables.scss";

.menu-main {
  position: fixed;
  border-right: 1px solid $color-border;
  max-width: 250px;
  height: 100vh;
  // overflow: scroll;

  .menu-header {
    .title-header {
      background-color: $color-gray-weak;
      width: 90%;
      padding: 5px;
      font-family: $font-title-header;
      cursor: pointer;
      text-align: center;
      font-size: 1.7rem;
    }

    h3 {
      font-weight: 400;
      font-size: 1.3rem;
      cursor: pointer;
    }
  }

  .menu-projects {
    .container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h3 {
        font-weight: 400;
        font-size: 1.5rem;
        cursor: pointer;
        color: $color-titles;
      }
    }
  }

  .social-menu {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    h3 {
      font-weight: 400;
      font-size: 1.5rem;
      cursor: pointer;
      color: $color-titles;
    }

    a {
      cursor: pointer;
      text-decoration: none;
      color: $color-text;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 1rem;
    }

    a:hover {
      color: $color-details;
    }
  }
}

.menu-space {
  border-bottom: 1px solid $color-border;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1.5rem;
}
