@import "../variables.scss";

.menu-main {
  position: fixed;
  border-right: 1px solid $color-border;
  max-width: 250px;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;

  a {
    color: $color-text;
    text-decoration: none;
  }

  .menu-header {
    .title-header {
      cursor: pointer;
      position: relative; /* necessário para posicionar a linha de forma personalizada */
      color: $color-text;
    }

    .title-header::after {
      content: "";
      display: block;
      width: 45%; /* define a largura da linha (ajuste conforme necessário) */
      height: 3px; /* espessura da linha */
      background-color: $color-border; /* cor da linha */
      margin: 0 auto; /* centraliza a linha abaixo do título */
      position: absolute;
      bottom: -5px; /* ajusta a distância da linha em relação ao título */
      left: 2%; /* ajusta o alinhamento da linha (centraliza) */
    }

    h3 {
      font-weight: 400;
      font-size: 1.4rem;
      cursor: pointer;
      color: $color-text;
    }
  }

  .menu-projects {
    .container-project {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h3 {
        font-weight: 400;
        font-size: 1.5rem;
        color: $color-title-datails;
      }
    }
  }

  .social-menu {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    h3 {
      font-weight: 400;
      font-size: 1.5rem;
      color: $color-title-datails;
    }
  }
}

.menu-main::-webkit-scrollbar {
  width: 0px;
}

.menu-space {
  border-bottom: 1px solid $color-border;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1.5rem;
}
