@import "../variables.scss";

header {
  background: linear-gradient(
    90deg,
    rgba(54, 51, 164, 1) 0%,
    rgba(100, 98, 223, 1) 50%,
    rgba(210, 189, 139, 1) 100%
  );
  padding: 1.5rem 2rem 3rem;
  color: $color-white;
  height: auto;

  .nav-bar {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    ul,
    li {
      display: flex;
      gap: 2rem;
    }

    .logo-title {
      font-size: 2rem;
    }
  }

  .description {
    h1 {
      font-size: 4rem;
      font-weight: 500;
    }
    h2 {
      margin-left: 3px;
      font-weight: 300;
    }
  }

  .container-contact {
    margin-left: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .social-links {
      display: flex;
      gap: 1rem;
      align-items: center;
      font-size: 2.2rem;
      color: $color-white;

      .email {
        border-bottom: 1px solid $color-white;
      }

      a {
        color: $color-white;
      }
    }
  }
}
