@import "../variables.scss";

.container-project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 320px;
  gap: 1rem;

  .container-content {
    .card-image {
      background-color: $color-gray-strong;
      padding: 0.7rem;
      border-radius: 2px;

      img {
        width: 100%;
        border-radius: 4px;
      }
    }

    .description-project {
      a {
        color: $color-text;
        font-weight: 500;
        border-bottom: 1px solid $color-text;
        padding-bottom: 3px;
        font-size: 1.2rem;
      }
    }
  }
}

/* Comportamento responsivo */

@media (max-width: 1024px) {
  .container-project {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas para telas médias */
  }
}

@media (max-width: 768px) {
  .container-project {
    grid-template-columns: 1fr; /* 1 coluna para telas pequenas */
  }
}
