@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  font-family: $font-descriptions;
  font-weight: 400;
  box-sizing: border-box;
}

.content-main {
  margin-left: 240px;
  padding: 1.5rem 3rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  position: fixed;
  bottom: 0;
  right: 80px;
  font-size: 1rem;
  color: $color-text;
}

.flex {
  display: flex;
  gap: 1rem;
}

ul li {
  list-style: none;
}

.title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 2.3rem;
}

.btn-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.btn-link:hover {
  color: $color-title;
}

a {
  text-decoration: none;
}
.mt {
  @for $i from 1 to 10 {
    &-#{ $i } {
      margin-top: #{$i}vh;
    }
  }
}
