@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  font-family: $font-descriptions;
  font-weight: 400;
  box-sizing: border-box;
}

// .menu-space {
//   padding: 1.5rem;
//   display: flex;
//   flex-direction: column;
//   gap: 0.7rem;
//   border-bottom: 1px solid $color-border;
// }

@import "./variables.scss";

.content-main {
  margin-left: 240px;
  padding: 1.5rem 3rem;
}

.mt {
  @for $i from 1 to 10 {
    &-#{ $i } {
      margin-top: #{$i}vh;
    }
  }
}
