$color-border: #2f4f70;
$color-text: #222;
$color-white: #fff;
$color-title-datails: #968064;
$color-title: #cfb38f;
$color-gray-strong: #e2e4e8;
$color-gray-weak: #f3f3f3ea;

$font-descriptions: "Roboto", system-ui;
$font-title: "Raleway", sans-serif;

$font-size-a: 1.3rem;
