$color-text: #222;
$color-white: #fff;
$color-gray-strong: #b1b1b1;
$color-gray-weak: #f3f3f3ea;

$color-bg-footer: #121317;
$color-details-footer: #e08803;

$font-descriptions: "Roboto", system-ui;
$font-title: "Raleway", sans-serif;

$font-size-a: 1.3rem;
