$color-details: #2f4f70;
$color-text: #222;
$color-white: #fff;
$color-titles: #968064;
$color-gray-strong: #e2e4e8;
$color-gray-weak: #f3f3f3ea;
$color-border: #adbcca;

$font-descriptions: "Roboto", system-ui;
$font-titles: "Merriweather", system-ui;
$font-title-header: "Cinzel", serif;

$font-size-a: 1.3rem;
